<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">FOS|FoodOrderSystem</a>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/home" (click)="homepage()">Home</a>
                    <a href="#" routerLink="/about" (click)="about()">About</a>
                    <a href="#" routerLink="/feedback" (click)="feedbackPage()">Feedback</a>
                    <a href="#" routerLink="/cart" (click)="cartpage()">Cart</a>

                </li>
            </ul>
        </nav>
    </div>
</header>